
    <div class="widget-area">
        <div class="information widget-item">
            <h3>Descripción general</h3>

            <ul>
                <li>
                    <img src="assets/img/job-details-icon.png" alt="Details" >
                    <h4>Edad:</h4>
                    <span>{{identity?.nacimiento}}</span>
                </li>
                <li>
                    <img src="assets/img/job-details-icon.png" alt="Details">
                    <h4>Fecha de cumpleaños:</h4>
                    <span>{{identity?.nacimiento}}</span>
                </li>
                <li>
                    <img src="assets/img/job-details-icon.png" alt="Details" id="educacion">
                    <h4>Email:</h4>
                    <span>{{identity?.correo}}</span>
                </li>
                <li>
                    <img src="assets/img/job-details-icon.png" alt="Details">
                    <h4>Genero:</h4>
                    <span>{{identity?.genero}}</span>
                </li>
                <li>
                    <img src="assets/img/job-details-icon.png" alt="Details" >
                    <h4>Nacionalidad:</h4>
                    <span>{{identity?.nacionalidad}}</span>
                </li>
            </ul>
        </div>

        <div class="owner">
            <div class="top">
                <img src="assets/img/home-one/job4.png" alt="Owner">
                <h3>Información personal</h3>
                <i class="flaticon-send"></i>
                <span>{{identity?.pais}}, {{identity?.estado}}, {{identity?.ciudad}}</span>
            </div>

            <div class="information widget-item">
                <ul>
                    <li>
                        <img src="assets/img/job-details-icon.png" alt="Details">
                        <h4>Telefono</h4>
                        <a href="tel:+34561232349987">{{identity?.telefono}}</a>
                    </li>
                    <li>
                        <img src="assets/img/job-details-icon.png" alt="Details">
                        <h4>Email</h4>
                        <a href="mailto:hello@alzo.com">{{identity?.correo}}</a>
                    </li>
                    <li>
                        <img src="assets/img/job-details-icon.png" alt="Details">
                        <h4>Ocupacion</h4>
                        <a href="#" target="_blank">{{identity?.ocupacion}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="download widget-item" id="habilidades">
            <a class="right" routerLink="/contact">Contactame</a>
        </div>
    </div>

